entrypoint = "app.py"
modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["cacert", "ffmpeg-full", "glibcLocales", "libxcrypt"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "gunicorn -b 0.0.0.0:5000 app:app"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 443
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 37948231
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[[workflows.workflow]]
name = "Run Staging"
author = 37948231
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "FLASK_ENV=staging python app.py"

[objectStorage]
defaultBucketID = "replit-objstore-ceedad51-75f3-450e-8467-4d6efc722d6f"
